In [6]:
#15 末尾のN行を出力

print("ファイル名を入力：")
file_name = 'popular-names.txt'
print("末尾から表示する行数を入力：")
n = input('>> ')
with open(file_name) as f:
    items = [line.strip() for line in f.readlines()]
    for i in range(-(int(n)), 0):
        print(items[i])

ファイル名を入力：
末尾から表示する行数を入力：
>> 3
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [5]:
# 確認
!tail -n 3 ./popular-names.txt

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [7]:
#16 ファイルをN分割する

print("分割するテキストファイル名を入力：")
file_name = 'popular-names.txt'
print("分割数を入力：")
n = input('>> ')

# リストを リストの長さ//n 個ずつの要素に分割
def split_list(l, c):
    for idx in range(0, len(l), c):
        yield l[idx:idx + c]

with open(file_name) as f:
    lines = f.readlines()

result = list(split_list(lines, len(lines)//int(n)))

# 分割結果をそれぞれテキストファイルに書き込む
for i in range(len(result)):
    cut_file_name = file_name[0:-4] + str(i) + ".txt"
    with open(cut_file_name, 'w') as f:
        for d in result[i]:
            f.write("%s" % d)

分割するテキストファイル名を入力：
分割数を入力：
>> 5

In [8]:
# コマンドによる分割　（ -l 行数：分割ファイルの行数を指定）
! split -l 556 -d ./popular-names.txt sp

In [9]:
#17 １列目の文字列の異なり

with open("popular-names.txt") as f:
    lines = f.readlines()
    s_lines = [line.strip() for line in lines]
    col1 = []

    for line in s_lines:
        col1.append(line.split('\t')[0])

# 重複しない要素の個数をカウント
import collections

c = collections.Counter(col1)

print(len(c))

136

In [10]:
# 確認
! cut -f 1 ./popular-names.txt | sort | uniq | wc -l

136

In [11]:
#18 各行を3コラム目の数値の降順にソート

import pandas as pd

df = pd.read_table("popular-names.txt", header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

sv = df.sort_values(by="number", ascending=False)
print(sv)

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947
...       ...  ..     ...   ...
27      Annie   F    1326  1881
28     Bertha   F    1324  1881
8      Bertha   F    1320  1880
29      Alice   F    1308  1881
9       Sarah   F    1288  1880

[2780 rows x 4 columns]

In [12]:
# 確認
! cat ./popular-names.txt | sort -r -n -k 3 | head -n 5

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947

In [13]:
#19 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

import pandas as pd

df = pd.read_table("popular-names.txt", header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

print(df["name"].value_counts())

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Scott        1
Rachel       1
Kelly        1
Crystal      1
Lucas        1
Name: name, Length: 136, dtype: int64

In [14]:
# 確認
! cut -f 1 ./popular-names.txt | sort | uniq -c | sort -r -n | head -n 5

    118 James
    111 William
    108 Robert
    108 John
     92 Mary